.slick-track {
  display: flex;
}
.slick-list {
  overflow: visible;
  position: relative;
  z-index: 3;
}
.slick-cloned,
.slick-slide {
  visibility: hidden;
}
.slick-slide.slick-active {
  visibility: visible;
}

.card__slider {
  .slick-arrow{
    position: absolute;
    top: calc(100% + 30px);
    font-size: 0;
    width: 50px;
    height: 50px;
    background-color: #e4edfe;
    border: none;
    outline: transparent;
    border-radius: 50%;
    cursor: pointer;
    &:before {
      text-align: center;
      @include ico;
      content: "\e902";
      font-size: 21px;
    }
    &:hover {
      background-color: #00d7a9;
      &:before {
        color: #fff;
      }
    }
  }
  .slick-arrow.slick-prev{
    left: 33.333%;
  }
  .slick-arrow.slick-next{
    right: 33.333%;
    &:before {
      content: "\e906";
    }
  }
  .slick-arrow.slick-disabled {
    background-color: #e4edfe;
    cursor: default;
    &:before {
      color: #000;
    }
  }
  .slick-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: calc(100% + 30px);
    padding: 0;
    list-style: none; 
    li {
      display: inline-block;
      width: 8px;
      height: 8px;
      & + li {
        margin-left: 10px;
      }
      &.slick-active {
        width: 20px;
        height: 8px;
        border-radius: 4px;
        button {
          cursor: default;
          width: 20px;
          height: 8px;
          border-radius: 4px;
        }
      }
      button {
        outline: transparent;
        cursor: pointer;
        transition: all .4s linear;
        padding: 0;
        font-size: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: none;
        background-color: #00d7a9;
      }
    }
  }
}